@charset "UTF-8";

/*クラス定義(ここから下にクラスを追加して下さい)*/

main {
  margin-top: 100px;
}
.main-title {
  background-color: #8fc54a;
  height: 300px;
  width: 100%;
}
.main-sent {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 300px;
}
.case-text {
  padding: 36px 24px;
  position: relative;
}
.case-text::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 5px;
  top: 74px;
  background-color: #000;
}
.main-company {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6fceb;
  padding: 64px 0 104px;
  column-gap: 20px;
}
.case-img {
  width: 270px;
  margin: auto;
}
.case-company {
  background-color: #fff;
  width: 270px;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 16px;
}
.case-sent {
  font-size: 14px;
  margin-top: 16px;
}
